header{
    $height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $gray;
    z-index: $nav-z;
    
    .logo {
        height: $height;
        
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    nav {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-self: stretch;
        background-color: $gray;
        @media (max-width: 767px) {
            display: none;
            position: absolute;
            top: $height;
            left: 0;
            width: 100%;
            flex-flow: column;
            justify-content: center;
            padding: 10px 0;
        }
        &.active{
            @media (max-width: 767px) {
                display: flex;
            }
        }
        a{
            display: flex;
            align-items: center;
            padding: 20px;
            &:hover{
                background-color: $primary;
                color: $white;
            }
        }
    }

    .btn-menu {
        display: block;
        position: relative;
        height: 50px;
        border: none;
        padding: 0px 10px;
        background-color: transparent;
        float: left;
        text-transform: uppercase;
        font-weight: 700;
        @include transition((background-color $time, color $time));

        @media (min-width: 768px) {
            display: none;
        }

        &:focus {
            outline: none;
        }
        
        & > span {
            display: inline-block;
            vertical-align: middle;
        }
        
        $x: 8px;
        
        & > .sign {
            position: relative;
            height: 2px;
            width: 25px;
            background-color: $black;
            @include transition(all $time);

            &:after,
            &:before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $black;
                @include transition(all $time);
            }
            
            &:before {
                top: -$x;
            }
            
            &:after {
                top: $x;
            }
        }
        
        &.active {
            & > .sign {
                background-color: transparent;
                &:before {
                    top: 0;
                    transform-origin: center center;
                    transform: rotate(220deg);
                }
                
                &:after {
                    top: 0;
                    transform-origin: center center;
                    transform: rotate(-220deg);
                }
            }
        }
        
        
    }
}