$assetsPath: '..';

$white: #fff;
$black: #000;
$gray: #eee;
$dark-10: darken($gray, 50%);
$dark-20: darken($gray, 75%);

$primary: #f15a29;
$secondary: #0f4349;

$success: #29f189;

$disabled: lighten($primary, 30%);
$disabled-gray: lighten($dark-gray, 30%);

$z-index: 1000;

$time: 0.3s;
